header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1px;
}

:root {
  --blue: #0065fc;
  --blue-hover: #0050c7;
  --light-blue: #deebff;
  --grey: #f2f2f2;
  --dark-grey: #d9d9d9;
  --black: #000;
  --white: #fff;
}

#logo {
  padding: 25px 0px;
}

#logo img {
  width: 58px;
}

header nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
}

header nav ul li {
  padding-top: 40px;
}

header nav ul li a {
  color: black;
  text-decoration: none;
  padding: 40px 30px 0;
}

nav li a:hover,
nav li a:focus {
  color: #0065fc;
  border-top: 3px solid #0065fc;
  padding-top: 37px;
}

header nav a:hover,
.selected {
  color: var(--blue);
  border-top: 2px var(--blue) solid;
}

#search {
  margin-bottom: 20px;
}

#search h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

#search p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
}

.searchBar {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  height: 50px;
}

.searchLocation {
  background-color: #f2f2f2;
  border-radius: 15px 0 0 15px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchLocation i {
  font-size: 22px;
}

.searchInput {
  border: 1px solid #f2f2f2;
  padding: 0 0 0 15px;
  font-size: 18px;
  font-weight: 800;
  width: 250px;
}

.searchButton {
  width: 130px;
  background-color: #0065fc;
  border: none;
  padding: 0;
  border-radius: 0 15px 15px 0;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.searchButton:hover {
  transform: scale(0.97);
  opacity: 0.8;
}

.searchButton i {
  display: none;
}

main {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1420px;
}

body {
  font-family: Raleway, sans-serif;
}

h1 {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  margin-bottom: 5px;
}

.subtitle {
  font-family: Raleway, sans-serif;
  font-weight: 400;
}

.filtres {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.filtres ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
}

.filtres ul li {
  display: flex;
  flex-direction: row;
  border-radius: 50px;
  align-items: center;
  box-shadow: inset 0 0 0 2px var(--dark-grey);
  background-size: 200%;
  cursor: pointer;
  transition: background-position 0.5s, transform 0.3s ease;
  background: linear-gradient(to left, transparent 50%, var(--light-blue) 50%)
    left;
}

.filtres ul li:hover {
  background-position: right;
  box-shadow: inset 0 0 0 2px var(--light-blue);
  transform: scale(0.9);
}

.filtres ul li .icon-filter {
  background-color: var(--light-blue);
  color: var(--blue);
  height: 50px;
  width: 50px;
  font-size: 18px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filtres ul li span {
  margin: 14px 24px 14px 14px;
  font-size: 18px;
  font-weight: 700;
}

.alert-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.alert-info .icon-info {
  min-width: 23px;
  height: 23px;
  border: 1px solid var(--dark-grey);
  color: var(--blue);
  border-radius: 50px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hebers {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.heber {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 20px 30px;
  gap: 30px;
  background-color: var(--grey);
  flex: 2;
  text-decoration: none;
  max-width: 1000px;
}

.heber .heber-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.heber .heber-container a {
  width: 31%;
  text-decoration: none;
}

.heber .heber-container .heber-content {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 20px;
  transition: 0.3s;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  min-height: 100px;
}

.heber .heber-container .heber-content:hover {
  box-shadow: 0 0 15px 6px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
}

.heber .heber-container .heber-content img {
  width: 100%;
  height: 114px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.heber .heber-container .heber-content .content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-decoration: none;
  justify-content: flex-start;
}

.heber .heber-container .heber-content .content .desc {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--black);
  margin-bottom: 0;
}

.heber .heber-container .heber-content .content .desc span {
  font-size: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* nombre de lignes max visibles */
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.3;
}

.heber .heber-container .heber-content .content .rating {
  color: var(--blue);
  font-size: 12px;
}

.heber .heber-container .heber-content .content .rating .locked {
  color: var(--dark-grey);
}

.show-more {
  text-align: center;
  font-weight: 700;
  color: var(--black);
  text-decoration: none;
  font-size: 18px;
  transition: transform 0.3s ease;
}

.show-more:hover {
  transform: scale(1.3);
}

.popular {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 30px;
  background-color: var(--grey);
  padding: 40px;
  border-radius: 20px;
}

.popular .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.popular .title i {
  font-size: 24px;
}

.popular .heber-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}

.popular .heber-container a {
  width: 100%;
  text-decoration: none;
}

.popular .heber-container .heber-content {
  background-color: var(--white);
  padding: 5px;
  border-radius: 20px;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  display: flex;
  flex-direction: row;
}

.popular .heber-container .heber-content:hover {
  box-shadow: 0 0 15px 6px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
}

.popular .heber-container .heber-content img {
  width: 130px;
  height: 139px;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
}

.popular .heber-container .heber-content .content {
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popular .heber-container .heber-content .content .desc {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--black);
}

.popular .heber-container .heber-content .content .desc span {
  font-size: 14px;
}

.popular .heber-container .heber-content .content .rating {
  color: var(--blue);
  font-size: 12px;
}

.popular .heber-container .heber-content .content .rating .locked {
  color: var(--dark-grey);
}

.activity {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.activity .heber-container {
  display: flex;
  justify-content: space-between;
  height: 450px;
}

.activity .heber-container a {
  text-decoration: none;
}

.activity .heber-container .group {
  width: 22%;
  height: 100%;
}

.activity .heber-container .group .heber-content {
  background-color: var(--white);
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  border-radius: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activity .heber-container .group .heber-content:hover {
  box-shadow: 0 0 15px 6px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
}

.activity .heber-container .group img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.activity .heber-container .group .heber-content h4 {
  color: var(--black);
  padding: 5px 5px;
}

.activity .heber-container .dual {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 45px;
}

.activity .heber-container .dual .heber-content {
  height: 200px;
}

.activity .heber-container .dual .heber-content .large {
  height: 150px;
}

.activity .heber-container .dual .heber-content .small {
  height: 120px;
}

footer {
  background-color: var(--grey);
  margin-top: 60px;
  max-width: 100%;
}

footer .footer-container {
  max-width: 1440px;
  margin: auto;
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  gap: 250px;
}

footer .footer-container .footer-links {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

footer .footer-container .footer-links h3 {
  text-align: left;
  margin: 0 0 8px 0;
  padding: 0;
  font-size: 18px;
}

footer .footer-container .footer-links ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0;
  padding: 0;
  list-style: none;
}

footer .footer-container .footer-links ul li a {
  font-weight: 500;
  color: var(--black);
  text-decoration: none;
}

footer .footer-container .footer-links ul li a:hover {
  text-decoration: underline;
}
